<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-img src="../assets/image/greenszlogo.png"></ion-img>
      </ion-toolbar>
    </ion-header>

    <ion-content>
         <ion-list>
           <ion-menu-toggle menu='m1'>
            <ion-item lines="none" routerLink="/home">
              <ion-icon name="home-sharp"></ion-icon>
              <ion-label>Főoldal</ion-label>
             </ion-item>
           </ion-menu-toggle>
           <ion-menu-toggle menu='m1'>
            <ion-item lines="none" routerLink="/statistics">
              <ion-icon name="bar-chart-sharp"></ion-icon>
              <ion-label>Forgalmi adatok</ion-label>
             </ion-item>
           </ion-menu-toggle>
           <ion-menu-toggle menu='m1'>
            <ion-item lines="none" routerLink="/air-pollution">
              <ion-icon name="cloud-sharp"></ion-icon>
              <ion-label>Légszennyezettségi adatok</ion-label>
             </ion-item>
           </ion-menu-toggle>
           <ion-menu-toggle menu='m1'>
            <ion-item lines="none" routerLink="/co2-calculator">
              <ion-icon name="flame-sharp"></ion-icon>
              <ion-label>Karbon-lábnyom kalkulátor</ion-label>
             </ion-item>
           </ion-menu-toggle>
           <ion-menu-toggle menu='m1'>
            <ion-item lines="none" routerLink="/tips">
              <ion-icon name="bulb-sharp"></ion-icon>
              <ion-label>Tippek</ion-label>
             </ion-item>
           </ion-menu-toggle>
         </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
