ion-content.background{
    --background: url(../../assets/image/hatterkep3.png) no-repeat;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

.center-img {
    display: block;
    margin: auto;
   }