<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" fullscreen >
  <ion-card>
    <ion-card-content class="ion-text-center">
      <ion-text><b>Az alábbi tippek segíthetnek zöldebbé tenni az életed és a környezetedet <ion-icon name="happy-outline"></ion-icon></b></ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: #a8c5a6;">
    <ion-card-content class="ion-padding" scroll-y="false">
      <ion-slides pager style="padding-bottom: 20px">
        <ion-slide>
          <div>
            <h2><b>Szelektálj</b></h2>
            <p>Gyűjtsd külön a papír-, a műanyag-, a fém- és az üveghulladékot.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div>
            <h2><b>Spórolj a vízzel</b></h2>
            <p>Mosogatás és fogmosás közben többször zárd el a csapot.</p>
        </div>
        </ion-slide>

        <ion-slide>
          <div>
            <h2><b>Takarékoskodj a villannyal</b></h2>
            <p>Ha nem használsz egy helységet -akár pár percre is- kapcsold le a villanyt. Ezen felül használj energiatakarékos izzókat.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div>
            <h2><b>Használj kevesebb papírt</b></h2>
            <p>Kérd a szólgáltatókat, hogy elektronikus számlát küldjenek.</p>
          </div>
        </ion-slide>

        <ion-slide>
          <div>
            <h2><b>Használj ökotáskát</b></h2>
            <p>Amikor bevásárolni mész, ne vegyél szatyrot, inkább vigyél magaddal egy bevásárlótáskát.</p>
            </div>
        </ion-slide>

        <ion-slide>
          <div>
            <h2><b>Autózz kevesebbet</b></h2>
            <p>Ha teheted utazz tömegközlekedéssel.</p>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <div>
      <h6 class="ion-text-center"><b>Szelektív hulladékgyűjtők:</b></h6>
      <img src="../../assets/image/tippspage/szelektivhulladek.jpg">
    </div>
  </ion-card>

  <ion-card>
    <div>
      <h6 class="ion-text-center"><b>Melyik műanyag újrahasznosítható?</b></h6>
      <img class="center-img" src="../../assets/image/tippspage/muanyagok.jpg">
    </div>
  </ion-card>

  <ion-card>
      <img class="center-img" src="../../assets/image/tippspage/tip-tree.png">
  </ion-card>
  
</ion-content>
